nav {
    height:2rem;
    width: 100%;
    position: sticky;
}
.nav-button{
    height: 2rem;
    min-width: 5rem;
    margin: auto;
    background-color: transparent;
    border: none;
}
.nav-button:hover {
    border-bottom: solid 2px blue;
}
.button-text {
    vertical-align: middle;
}