nav {
    height:2rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: antiquewhite;
}
.nav-button {
    color: initial;
    background-color: transparent;
    border: none;
    padding: 10px 34px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}
.nav-button:hover {
    border-bottom: solid 2px blue;
}
